/* CSS for index.html, contact.css, portfolio.html */


body {
    /* Visual */
    color: #777777;
    background: url('../images/sakura.png');

    /* Typography */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

}

#main-content {
    /* Box Model */
    border: 1px solid#dddddd;
}

#main-content p {
    /* Typograpy */
    line-height: 30px;
}

.container, .navbar, nav {
    background: #ffffff;
}

nav {
    /* Box Model */
    border-bottom: 2px solid #cccccc;
}

h1 {
    /* Typography */
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    font-size: 24px;
    font-weight: bold;
}

.logo, .footer {
    /* Box Model */
    text-align: center;
}

.logo, .btn, .portfolio-text {
    background: #4aaaa5;
}

.logo {
    /* Visual */
    height: 60px;
    padding: 0 20px;
}

.logo h1, .btn, .portfolio-text {
    /* Typography */
    color: #ffffff;
}

footer {
    /* Visual */
    background: #666666;
    height: 60px;
    width: 100%;

    /* Box Model */
    border-top: 8px solid #4aaaa5;

    /* Typography */
    color: #cccccc;
    line-height: 1;
}

hr {
    /* Box Model */
    margin: 25px 0;
}

.portfolio-img, .portfolio-text {
    /* Visual */
    width: 200px;
}

.portfolio-text {
    /* Visual */
    height: 35px;

    /* Typography */
    text-align: center;

    /* Positioning */
    bottom: 0;
}

.portfolio-text p {
    /* Box Model */
    margin-top: 2px;
}

@media (max-width: 576px) {
    .container {
        /* Visual */
        width: 100%;
    }

    .portfolio-text, .portfolio-text p {
        /* Visual */
        max-width: 100%;
        height: auto
    }
}